USE [master]
GO
/****** Object:  Database [ReadyRecruit]    Script Date: 6/13/2017 10:59:21 AM ******/
CREATE DATABASE [ReadyRecruit]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ReadyRecruit', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ReadyRecruit.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ReadyRecruit_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ReadyRecruit_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ReadyRecruit].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ReadyRecruit]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/13/2017 10:59:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/13/2017 10:59:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/13/2017 10:59:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/13/2017 10:59:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/13/2017 10:59:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/13/2017 10:59:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Education]    Script Date: 6/13/2017 10:59:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Education](
	[EducationID] [int] IDENTITY(1,1) NOT NULL,
	[EduLevel] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Education] PRIMARY KEY CLUSTERED 
(
	[EducationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 6/13/2017 10:59:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[GenderID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[GenderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HeadStat]    Script Date: 6/13/2017 10:59:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeadStat](
	[HeadStatID] [int] IDENTITY(1,1) NOT NULL,
	[DueDate] [date] NULL,
	[IsDone] [bit] NOT NULL,
	[Notes] [nvarchar](2000) NULL,
	[HeadstepID] [int] NOT NULL,
	[LinkID] [int] NOT NULL,
 CONSTRAINT [PK_HeadStat] PRIMARY KEY CLUSTERED 
(
	[HeadStatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Headstep]    Script Date: 6/13/2017 10:59:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Headstep](
	[HeadstepID] [int] IDENTITY(1,1) NOT NULL,
	[Number] [decimal](18, 0) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[DueDate] [date] NULL,
	[IsDone] [bit] NOT NULL,
	[Notes] [nvarchar](2000) NULL,
	[Points] [decimal](18, 0) NOT NULL,
	[MainstepID] [int] NOT NULL,
 CONSTRAINT [PK_Headstep] PRIMARY KEY CLUSTERED 
(
	[HeadstepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Link]    Script Date: 6/13/2017 10:59:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Link](
	[LinkID] [int] IDENTITY(1,1) NOT NULL,
	[ProfileID] [int] NOT NULL,
	[RoadmapID] [int] NOT NULL,
 CONSTRAINT [PK_Link] PRIMARY KEY CLUSTERED 
(
	[LinkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MainStat]    Script Date: 6/13/2017 10:59:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainStat](
	[MainStatID] [int] IDENTITY(1,1) NOT NULL,
	[DueDate] [date] NULL,
	[IsDone] [bit] NOT NULL,
	[Notes] [nvarchar](2000) NULL,
	[MainstepID] [int] NOT NULL,
	[LinkID] [int] NOT NULL,
 CONSTRAINT [PK_MainStat] PRIMARY KEY CLUSTERED 
(
	[MainStatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mainstep]    Script Date: 6/13/2017 10:59:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mainstep](
	[MainstepID] [int] IDENTITY(1,1) NOT NULL,
	[Number] [decimal](18, 0) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[DueDate] [date] NULL,
	[IsDone] [bit] NOT NULL,
	[Notes] [nvarchar](2000) NULL,
	[Points] [decimal](18, 0) NOT NULL,
	[RoadmapID] [int] NOT NULL,
 CONSTRAINT [PK_Mainstep] PRIMARY KEY CLUSTERED 
(
	[MainstepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MaritalStat]    Script Date: 6/13/2017 10:59:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MaritalStat](
	[MaritalStatID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [varchar](30) NOT NULL,
 CONSTRAINT [PK_MaritalStat] PRIMARY KEY CLUSTERED 
(
	[MaritalStatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PriorService]    Script Date: 6/13/2017 10:59:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriorService](
	[PriorServiceID] [int] IDENTITY(1,1) NOT NULL,
	[IsServe] [bit] NOT NULL,
 CONSTRAINT [PK_PriorService] PRIMARY KEY CLUSTERED 
(
	[PriorServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Profile]    Script Date: 6/13/2017 10:59:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Profile](
	[ProfileID] [int] IDENTITY(1,1) NOT NULL,
	[FName] [varchar](50) NOT NULL,
	[LName] [varchar](50) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Height] [decimal](18, 0) NOT NULL,
	[Weight] [decimal](18, 0) NOT NULL,
	[Dependents] [int] NOT NULL,
	[Title] [varchar](30) NULL,
	[Branch] [varchar](30) NULL,
	[AsvabScore] [decimal](18, 0) NULL,
	[PracticeScore] [decimal](18, 0) NULL,
	[PointsTotal] [decimal](18, 0) NULL,
	[PointsEarned] [decimal](18, 0) NULL,
	[IsDone] [bit] NOT NULL,
	[GenderID] [int] NOT NULL,
	[EducationID] [int] NOT NULL,
	[MaritalStatID] [int] NOT NULL,
	[PriorServiceID] [int] NOT NULL,
	[Id] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_Profile] PRIMARY KEY CLUSTERED 
(
	[ProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Roadmap]    Script Date: 6/13/2017 10:59:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Roadmap](
	[RoadmapID] [int] IDENTITY(1,1) NOT NULL,
	[RoadmapName] [varchar](50) NULL,
 CONSTRAINT [PK_Roadmap] PRIMARY KEY CLUSTERED 
(
	[RoadmapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SubStat]    Script Date: 6/13/2017 10:59:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubStat](
	[SubStatID] [int] IDENTITY(1,1) NOT NULL,
	[DueDate] [date] NULL,
	[IsDone] [bit] NOT NULL,
	[Notes] [nvarchar](2000) NULL,
	[SubstepID] [int] NOT NULL,
	[LinkID] [int] NOT NULL,
 CONSTRAINT [PK_SubStat] PRIMARY KEY CLUSTERED 
(
	[SubStatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Substep]    Script Date: 6/13/2017 10:59:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Substep](
	[SubstepID] [int] IDENTITY(1,1) NOT NULL,
	[Number] [decimal](18, 0) NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[DueDate] [date] NULL,
	[IsDone] [bit] NOT NULL,
	[Notes] [nvarchar](2000) NULL,
	[Points] [decimal](18, 0) NOT NULL,
	[HeadstepID] [int] NOT NULL,
 CONSTRAINT [PK_Substep] PRIMARY KEY CLUSTERED 
(
	[SubstepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'26bba179-a37f-409f-9b74-567bac6f3231', N'dkorpics@roadrunner.com', 0, N'AEBLnFBv8WW0u/9nugvFhGSMCF2Xx+w7CdNdJPuP9xI7Wd8/BA8aJQSSLfogz9TDAA==', N'd73cdf60-b7e6-4103-bfbf-3c960e562776', NULL, 0, 0, NULL, 1, 0, N'dkorpics@roadrunner.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'3938e49a-46d6-44e7-b1af-4aa8e00825bb', N'test@yahoo.com', 0, N'ADUDbT22lahxjUeYiJQnYqNFvEc4hHEgFTwi59V3GLA89JVROVIz7AjnMFrOwi9Ubg==', N'602bf0fd-1394-4301-966f-5bb85822047e', NULL, 0, 0, NULL, 1, 0, N'test@yahoo.com')
SET IDENTITY_INSERT [dbo].[Education] ON 

INSERT [dbo].[Education] ([EducationID], [EduLevel]) VALUES (1, N'do not have a high school diploma or GED')
INSERT [dbo].[Education] ([EducationID], [EduLevel]) VALUES (2, N'have a high school diploma or GED')
INSERT [dbo].[Education] ([EducationID], [EduLevel]) VALUES (3, N'have a 4 year college degree')
SET IDENTITY_INSERT [dbo].[Education] OFF
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([GenderID], [Type]) VALUES (1, N'guy')
INSERT [dbo].[Gender] ([GenderID], [Type]) VALUES (2, N'girl')
SET IDENTITY_INSERT [dbo].[Gender] OFF
SET IDENTITY_INSERT [dbo].[HeadStat] ON 

INSERT [dbo].[HeadStat] ([HeadStatID], [DueDate], [IsDone], [Notes], [HeadstepID], [LinkID]) VALUES (3, NULL, 0, NULL, 1, 12)
INSERT [dbo].[HeadStat] ([HeadStatID], [DueDate], [IsDone], [Notes], [HeadstepID], [LinkID]) VALUES (4, NULL, 0, NULL, 2, 12)
SET IDENTITY_INSERT [dbo].[HeadStat] OFF
SET IDENTITY_INSERT [dbo].[Headstep] ON 

INSERT [dbo].[Headstep] ([HeadstepID], [Number], [Name], [DueDate], [IsDone], [Notes], [Points], [MainstepID]) VALUES (1, CAST(1 AS Decimal(18, 0)), N'Talk it Out', NULL, 0, NULL, CAST(0 AS Decimal(18, 0)), 9)
INSERT [dbo].[Headstep] ([HeadstepID], [Number], [Name], [DueDate], [IsDone], [Notes], [Points], [MainstepID]) VALUES (2, CAST(2 AS Decimal(18, 0)), N'Research! Research! Research!', NULL, 0, NULL, CAST(0 AS Decimal(18, 0)), 9)
SET IDENTITY_INSERT [dbo].[Headstep] OFF
SET IDENTITY_INSERT [dbo].[Link] ON 

INSERT [dbo].[Link] ([LinkID], [ProfileID], [RoadmapID]) VALUES (1, 2, 1)
INSERT [dbo].[Link] ([LinkID], [ProfileID], [RoadmapID]) VALUES (2, 7, 6)
INSERT [dbo].[Link] ([LinkID], [ProfileID], [RoadmapID]) VALUES (12, 2, 6)
SET IDENTITY_INSERT [dbo].[Link] OFF
SET IDENTITY_INSERT [dbo].[MainStat] ON 

INSERT [dbo].[MainStat] ([MainStatID], [DueDate], [IsDone], [Notes], [MainstepID], [LinkID]) VALUES (4, NULL, 0, NULL, 9, 12)
INSERT [dbo].[MainStat] ([MainStatID], [DueDate], [IsDone], [Notes], [MainstepID], [LinkID]) VALUES (5, NULL, 0, NULL, 10, 12)
INSERT [dbo].[MainStat] ([MainStatID], [DueDate], [IsDone], [Notes], [MainstepID], [LinkID]) VALUES (6, NULL, 0, NULL, 11, 12)
SET IDENTITY_INSERT [dbo].[MainStat] OFF
SET IDENTITY_INSERT [dbo].[Mainstep] ON 

INSERT [dbo].[Mainstep] ([MainstepID], [Number], [Name], [DueDate], [IsDone], [Notes], [Points], [RoadmapID]) VALUES (1, CAST(1 AS Decimal(18, 0)), N'Is the Military Right for You?', NULL, 0, NULL, CAST(0 AS Decimal(18, 0)), 1)
INSERT [dbo].[Mainstep] ([MainstepID], [Number], [Name], [DueDate], [IsDone], [Notes], [Points], [RoadmapID]) VALUES (2, CAST(2 AS Decimal(18, 0)), N'Have you Decided on a Branch?', NULL, 0, NULL, CAST(0 AS Decimal(18, 0)), 1)
INSERT [dbo].[Mainstep] ([MainstepID], [Number], [Name], [DueDate], [IsDone], [Notes], [Points], [RoadmapID]) VALUES (3, CAST(3 AS Decimal(18, 0)), N'Enlisted | Commissioned | Warrant', NULL, 0, NULL, CAST(0 AS Decimal(18, 0)), 1)
SET IDENTITY_INSERT [dbo].[Mainstep] OFF
SET IDENTITY_INSERT [dbo].[MaritalStat] ON 

INSERT [dbo].[MaritalStat] ([MaritalStatID], [Status]) VALUES (1, N'single')
INSERT [dbo].[MaritalStat] ([MaritalStatID], [Status]) VALUES (2, N'married (including common law)')
SET IDENTITY_INSERT [dbo].[MaritalStat] OFF
SET IDENTITY_INSERT [dbo].[PriorService] ON 

INSERT [dbo].[PriorService] ([PriorServiceID], [IsServe]) VALUES (1, 0)
INSERT [dbo].[PriorService] ([PriorServiceID], [IsServe]) VALUES (2, 1)
SET IDENTITY_INSERT [dbo].[PriorService] OFF
SET IDENTITY_INSERT [dbo].[Profile] ON 

INSERT [dbo].[Profile] ([ProfileID], [FName], [LName], [BirthDate], [Height], [Weight], [Dependents], [Title], [Branch], [AsvabScore], [PracticeScore], [PointsTotal], [PointsEarned], [IsDone], [GenderID], [EducationID], [MaritalStatID], [PriorServiceID], [Id]) VALUES (2, N'Diane', N'Korpics', CAST(N'1962-07-10' AS Date), CAST(64 AS Decimal(18, 0)), CAST(125 AS Decimal(18, 0)), 3, NULL, NULL, NULL, NULL, NULL, NULL, 1, 2, 3, 1, 1, N'26bba179-a37f-409f-9b74-567bac6f3231')
INSERT [dbo].[Profile] ([ProfileID], [FName], [LName], [BirthDate], [Height], [Weight], [Dependents], [Title], [Branch], [AsvabScore], [PracticeScore], [PointsTotal], [PointsEarned], [IsDone], [GenderID], [EducationID], [MaritalStatID], [PriorServiceID], [Id]) VALUES (7, N'Test', N'Person', CAST(N'2001-01-01' AS Date), CAST(70 AS Decimal(18, 0)), CAST(170 AS Decimal(18, 0)), 0, NULL, NULL, NULL, NULL, NULL, NULL, 1, 1, 2, 1, 1, N'3938e49a-46d6-44e7-b1af-4aa8e00825bb')
SET IDENTITY_INSERT [dbo].[Profile] OFF
SET IDENTITY_INSERT [dbo].[Roadmap] ON 

INSERT [dbo].[Roadmap] ([RoadmapID], [RoadmapName]) VALUES (1, N'enlisted in the Army')
INSERT [dbo].[Roadmap] ([RoadmapID], [RoadmapName]) VALUES (2, N'enlisted in the Air Force')
INSERT [dbo].[Roadmap] ([RoadmapID], [RoadmapName]) VALUES (3, N'enlisted in the Navy')
SET IDENTITY_INSERT [dbo].[Roadmap] OFF
SET IDENTITY_INSERT [dbo].[SubStat] ON 

INSERT [dbo].[SubStat] ([SubStatID], [DueDate], [IsDone], [Notes], [SubstepID], [LinkID]) VALUES (5, NULL, 0, NULL, 1, 12)
INSERT [dbo].[SubStat] ([SubStatID], [DueDate], [IsDone], [Notes], [SubstepID], [LinkID]) VALUES (6, NULL, 0, NULL, 2, 12)
INSERT [dbo].[SubStat] ([SubStatID], [DueDate], [IsDone], [Notes], [SubstepID], [LinkID]) VALUES (7, NULL, 0, NULL, 3, 12)
SET IDENTITY_INSERT [dbo].[SubStat] OFF
SET IDENTITY_INSERT [dbo].[Substep] ON 

INSERT [dbo].[Substep] ([SubstepID], [Number], [Name], [DueDate], [IsDone], [Notes], [Points], [HeadstepID]) VALUES (1, CAST(1 AS Decimal(18, 0)), N'Talk to your family.', NULL, 0, NULL, CAST(2 AS Decimal(18, 0)), 1)
INSERT [dbo].[Substep] ([SubstepID], [Number], [Name], [DueDate], [IsDone], [Notes], [Points], [HeadstepID]) VALUES (2, CAST(2 AS Decimal(18, 0)), N'Talk to veterans.', NULL, 0, NULL, CAST(2 AS Decimal(18, 0)), 1)
INSERT [dbo].[Substep] ([SubstepID], [Number], [Name], [DueDate], [IsDone], [Notes], [Points], [HeadstepID]) VALUES (3, CAST(3 AS Decimal(18, 0)), N'Talk to a recruiter.', NULL, 0, NULL, CAST(2 AS Decimal(18, 0)), 1)
SET IDENTITY_INSERT [dbo].[Substep] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 6/13/2017 10:59:21 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 6/13/2017 10:59:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 6/13/2017 10:59:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 6/13/2017 10:59:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 6/13/2017 10:59:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 6/13/2017 10:59:21 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[HeadStat]  WITH CHECK ADD  CONSTRAINT [FK_HeadStat_Headstep] FOREIGN KEY([HeadstepID])
REFERENCES [dbo].[Headstep] ([HeadstepID])
GO
ALTER TABLE [dbo].[HeadStat] CHECK CONSTRAINT [FK_HeadStat_Headstep]
GO
ALTER TABLE [dbo].[HeadStat]  WITH CHECK ADD  CONSTRAINT [FK_HeadStat_Link] FOREIGN KEY([LinkID])
REFERENCES [dbo].[Link] ([LinkID])
GO
ALTER TABLE [dbo].[HeadStat] CHECK CONSTRAINT [FK_HeadStat_Link]
GO
ALTER TABLE [dbo].[Headstep]  WITH CHECK ADD  CONSTRAINT [FK_Headstep_Mainstep] FOREIGN KEY([MainstepID])
REFERENCES [dbo].[Mainstep] ([MainstepID])
GO
ALTER TABLE [dbo].[Headstep] CHECK CONSTRAINT [FK_Headstep_Mainstep]
GO
ALTER TABLE [dbo].[Link]  WITH CHECK ADD  CONSTRAINT [FK_Link_Profile] FOREIGN KEY([ProfileID])
REFERENCES [dbo].[Profile] ([ProfileID])
GO
ALTER TABLE [dbo].[Link] CHECK CONSTRAINT [FK_Link_Profile]
GO
ALTER TABLE [dbo].[Link]  WITH CHECK ADD  CONSTRAINT [FK_Link_Roadmap] FOREIGN KEY([RoadmapID])
REFERENCES [dbo].[Roadmap] ([RoadmapID])
GO
ALTER TABLE [dbo].[Link] CHECK CONSTRAINT [FK_Link_Roadmap]
GO
ALTER TABLE [dbo].[MainStat]  WITH CHECK ADD  CONSTRAINT [FK_MainStat_Link] FOREIGN KEY([LinkID])
REFERENCES [dbo].[Link] ([LinkID])
GO
ALTER TABLE [dbo].[MainStat] CHECK CONSTRAINT [FK_MainStat_Link]
GO
ALTER TABLE [dbo].[MainStat]  WITH CHECK ADD  CONSTRAINT [FK_MainStat_Mainstep] FOREIGN KEY([MainstepID])
REFERENCES [dbo].[Mainstep] ([MainstepID])
GO
ALTER TABLE [dbo].[MainStat] CHECK CONSTRAINT [FK_MainStat_Mainstep]
GO
ALTER TABLE [dbo].[Mainstep]  WITH CHECK ADD  CONSTRAINT [FK_Mainstep_Roadmap] FOREIGN KEY([RoadmapID])
REFERENCES [dbo].[Roadmap] ([RoadmapID])
GO
ALTER TABLE [dbo].[Mainstep] CHECK CONSTRAINT [FK_Mainstep_Roadmap]
GO
ALTER TABLE [dbo].[Profile]  WITH CHECK ADD  CONSTRAINT [FK_Profile_AspNetUsers] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Profile] CHECK CONSTRAINT [FK_Profile_AspNetUsers]
GO
ALTER TABLE [dbo].[Profile]  WITH CHECK ADD  CONSTRAINT [FK_Profile_Education] FOREIGN KEY([EducationID])
REFERENCES [dbo].[Education] ([EducationID])
GO
ALTER TABLE [dbo].[Profile] CHECK CONSTRAINT [FK_Profile_Education]
GO
ALTER TABLE [dbo].[Profile]  WITH CHECK ADD  CONSTRAINT [FK_Profile_Gender] FOREIGN KEY([GenderID])
REFERENCES [dbo].[Gender] ([GenderID])
GO
ALTER TABLE [dbo].[Profile] CHECK CONSTRAINT [FK_Profile_Gender]
GO
ALTER TABLE [dbo].[Profile]  WITH CHECK ADD  CONSTRAINT [FK_Profile_MaritalStat] FOREIGN KEY([MaritalStatID])
REFERENCES [dbo].[MaritalStat] ([MaritalStatID])
GO
ALTER TABLE [dbo].[Profile] CHECK CONSTRAINT [FK_Profile_MaritalStat]
GO
ALTER TABLE [dbo].[Profile]  WITH CHECK ADD  CONSTRAINT [FK_Profile_PriorService] FOREIGN KEY([PriorServiceID])
REFERENCES [dbo].[PriorService] ([PriorServiceID])
GO
ALTER TABLE [dbo].[Profile] CHECK CONSTRAINT [FK_Profile_PriorService]
GO
ALTER TABLE [dbo].[SubStat]  WITH CHECK ADD  CONSTRAINT [FK_SubStat_Link] FOREIGN KEY([LinkID])
REFERENCES [dbo].[Link] ([LinkID])
GO
ALTER TABLE [dbo].[SubStat] CHECK CONSTRAINT [FK_SubStat_Link]
GO
ALTER TABLE [dbo].[SubStat]  WITH CHECK ADD  CONSTRAINT [FK_SubStat_Substep] FOREIGN KEY([SubstepID])
REFERENCES [dbo].[Substep] ([SubstepID])
GO
ALTER TABLE [dbo].[SubStat] CHECK CONSTRAINT [FK_SubStat_Substep]
GO
ALTER TABLE [dbo].[Substep]  WITH CHECK ADD  CONSTRAINT [FK_Substep_Headstep] FOREIGN KEY([HeadstepID])
REFERENCES [dbo].[Headstep] ([HeadstepID])
GO
ALTER TABLE [dbo].[Substep] CHECK CONSTRAINT [FK_Substep_Headstep]
GO
USE [master]
GO
