body {
    background-color: black;
    padding-top: 0px;
    padding-bottom: 25px;
    color:white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}



/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*NAVBAR*/

.glyphicon.glyphicon-glass{
    color:white;
}

.navbar-brand, .navbar/*-fixed-top*/ a {
    color: white;
}
.navbar-right {
    padding-right:2vw;
}

.nav li {
    font-size: 12px;
}

.intro {
    color:white;
    padding-left: 20px;
    padding-right: 10px;
    height: 40vh;
}
.Ryan {

}

#Home img {
    height: 101px;
    padding-top: 0px;
    float: left;
    width: 147px;
    z-index: 4;
    margin-top: -35px

}

div#navvy.navbar.navbar-static-top {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 45px;
    background-color: #337ab7;
    margin-bottom:0px;
}
.nav li {
    background-color: #337ab7;
    z-index: 2;
}


/* Outline */

.outline {
    background-color: rgbA(0, 0, 0, 1.0);
    color: #337ab7;
    /*min-height:90vh;*/
}
.outlinetext {
    min-height:75vh;
}
.outlinetext a {
    color:white;
}
.outlinetext a:hover {
 text-decoration: underline;
}
a.glyphicon-list {
    color: #337ab7;
}
#logo img {
    margin-top: -15px;
    width: 80px;
    height: 60px;
}
hr.pagebreak {
    border-top: 7px solid #337ab7;
    width: 100vw;
    margin-top: 0px;
    margin-bottom:0px;
}

h2 input{
    background-color: white;
    color:#337ab7;
    border:2px solid tomato;
    
}

div.pic {
    /*background-image: url('images/iwojima.jpg');*/
    background-size: 33.3vw;
    display: block;
    height: 50vh;
}
div.pic img {
    width: 384px;
    height:70vh;
}
div.rightcolumn {
    background-color: black;
    color: white;
    min-height:90vh;
    /*width: 33.3%;*/
}

.selections {
    text-align:center;
    padding-bottom:10px;
    color:#337ab7;
}
.selections a {
    color:#337ab7;
}
.selections hr {
    padding-top:0px;
    padding-bottom:0px;
}

div.bottom {
    padding-top:15px;
    min-height:50vh;
}
section#Step1 {
    /*padding-top:45px;*/
    min-height: 93vh;
}
section#Step2, section#Step3, section#Step4, section#Step5, section#Step6, section#Step7, section#Step8, section#Step9, section#Step10 {
    padding-top:0px;
    min-height:96vh;
}

h1 {
    text-shadow: 3px 3px 3px #337ab7;
    font-weight:600;
}
#viewProfile h1 {
/*color: #337ab7;
text-shadow: 3px 3px 3px white;*/
color:white;
}

.outline h1 {
    text-align:center;
        font-size: 28px;
}

.outline h2 {
    padding-left:5vw;
    text-wrap:avoid;
    font-size: 20px;
}

.outline h3 {
    padding-left:10vw;
    font-size: 16px;
}
.glyphicon-check, .glyphicon-unchecked {
    font-size: 0.7em;
    top: -3px;
    color: tomato;
}
.glyphicon-list {
    color: #337ab7;
}
/*button.dropdown-toggle {
    display: inline;
}*/
h4.goal {
    color:tomato;
    margin-top:25px;
    margin-bottom:5px;
}
div.row.bar {
    margin-top:0px;
    margin-bottom:10px;
    padding: 0px 0px 0px 0px;
    border: 3px solid tomato;
    background-color: rgbA(0,0,0,1.0);
}

.progress-bar-warning {
    background-color:tomato;

}
div.progress-bar-striped {

}
.fb-like {
    margin-top:20px;
   margin-left:35%;
}
div.redditAPI {
    max-height: 50vh;
    height: 350px;
}
hr {
    border-top: 1px solid tomato;
}


section#viewProfile {
background-color: rgbA(0,0,0,1.0);
color:white;
font-size:24px;
text-align:center;
padding: 30px 20px 20px 20px;
margin: auto;
min-height:90vh;
}
section#viewProfile p {
    padding: 5vh 15vw 10vh 15vw;
}
.profileCreate {
    padding: 50px 20px 20px 20px;
    margin:auto;
    line-height: 1.8;
    max-width: 75vw;
}
a#dependents {
    color:white;
    text-shadow: 5px 5px 5px #337ab7;
    font-weight: 700;
    font-size:24px;
    text-decoration: none;
}
a#dependents:hover {
    text-decoration: underline;
}

.profileEdit {
    padding: 20px 20px 20px 20px;
    margin: auto;
    line-height: 1.8;
    max-width: 90vw;
}
select {
    color: tomato;
    font-weight:600;
    border-radius: 4px;
    font-size: 14px;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
        background-color: rgbA(51,122,183,0.3);
}
#viewProfile .getstarted a, #viewProfile .btn-default {
    color:tomato;
    font-weight:700;
    text-decoration: none;
}
#viewProfile .getstarted a:hover, #viewProfile input.btn-default:hover {
    text-decoration: underline;
}

.profileData {
    font-weight: 900;
    color: rgbA(51,122,183,1);
}
.ViewProfileSelections a {
    color:#337ab7;
    font-size:14px;
}
.form-control, .form-group {
    width: auto;
    display: inline;
    color: tomato;
    font-weight:600;
}
.form-control {
    background-color: rgbA(51,122,183,0.3);
}

.NotesForm {
    margin-left: 90px;
    width: 550px;
    max-width: 550px;
    height: 65px;
    border: 3px solid #337ab7;
    padding-left:5px;
}
.container {
    margin: 0px 0px 0px 0px;
    width:98vw;
    padding:0px 0px 0px 0px;
}
.btn.btn-default {
    background: rgb(28,34,46);
    font-family: 'Merienda', cursive;
    border: 1px solid #337ab7;
    color: white;
}
.btn.btn-default a {
    background: rgb(28,34,46);
    font-family: 'Merienda', cursive;
    color: white;
}

.right a , .left a {
    font-size:18px;
    color:white;
}
.left {
    float: left;
    margin: 0px 5px 0px 10px;
}
.right {
    float:right;
    margin: 0px 10px 0px 5px;
}

/*Jumbotron*/


div.jumbotron {
    margin-top:20px;
    /*background-color: rgb(65,83,59);*/
    background-position:left;
    padding: 70px 50px 70px 50px;
    background-size: cover;
    border-radius:0px 0px 5px 5px;
}

/* Carousel */


.carousel-inner {
   width: 100vw;
    margin: auto;
    max-height:45vh;
    min-height: 298px;
}

.item img {
    width: 100vw;
    height: 45vh;
}
#myCarousel {
    padding-left:0px;
}
#myCarousel .list-group{
	position:absolute;
	top:5px;
	right:0px;  
}

#myCarousel .list-group-item {
	border-radius:2px;
	cursor:pointer;
}

#myCarousel .list-group .active {
	background-color:#337ab7;	
}

@media (min-width: 992px) { 
	#myCarousel {padding-right:0%;}
}
@media (max-width: 991px) { 
	#myCarousel .list-group {display:none;} 
}

/*Front End*/

h6, h2, h3, h4, h5, h1, h6 {
    color: white;
    font-family: 'Merienda', cursive;
}

div.container.body-content {
    /*color: rgb(65,83,59);*/
}

.ViewBag.Title a{
    color:white;
    font-size:49px;
    font-family: 'Merienda', cursive;
}

.fontStyleTitles
{
    color:white;
    font-size:39px;
    font-family: 'Merienda', cursive;
    margin-top: 0px;
}

p.paragraphFontStyle, h4.paragraphFontStyle
{
    /*color:rgb(158,154,117);*/
    padding-left:20px;
    font-size:18px;
    font-weight: 700;
    color: white;
    margin-bottom:0px;
    margin-top:0px;
}

span a {
    font-size:14px;
    color:white;
}

span.moveright {
    /*margin-left:50%;*/
    float: right;
    margin-right:50px;
}

.videoindent {
    margin-left:15%;
}
.newsletters ul a, .newsletters h4 {
    color:#337ab7;
    list-style-type:square;
}
.newsletters {
    background-color:white;
    border: 5px solid rgbA(51,122,183,1);

    z-index: -3;
    color:black;
    padding: 5px 10px 5px 10px;
    min-height: 65vh;
}
div.newsletters hr {
    color: #337ab7;
    margin: 2px 0px 4px 0px;
    border-color: #337ab7;
}
.btn 
{
    background-color:rgb(28,34,46);
    font-family: 'Merienda', cursive;
}

.img-thumbnail {
    width: 180px;
    height: 100px;
    margin: 5px 10px 5px 10px;
    background-color: tomato;
}
/* Login + Register */

div.row#Color {
    padding-left:30px;
    color:white;
    font-family: 'Merienda', cursive;
}

/* Create Profile */

div.form-horizontal {
    /*background-color: rgb(65,83,59);*/
    color:white;
    font-family: 'Merienda', cursive;
}

/* Manage Profile */

div#Color {
    /*background-color: rgb(65,83,59);*/
    color:white;
    font-family: 'Merienda', cursive;
}

/* footer */
.profilespics img {
    width: 60px;
    height: 80px;
    margin-left: 20px;
}
footer p {
    margin-left:20px;
    color: white;
}
.fireworks {
    background-image: url('images/sparkling-flag_360.gif');
    background-size: cover;
    min-width: 100vw;
    min-height:100vh;
}
.fireworks h1 {
    text-align: center;
    padding-top: 100px;
    font-size: 48px;
    text-shadow: -3px -3px 0 #337ab7, 3px -3px 0 #337ab7, -3px 3px 0 #337ab7, 3px 3px 0 #337ab7;
}