body {
    background-color: black;
    padding-top: 0px;
    padding-bottom: 25px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*NAVBAR*/

.glyphicon.glyphicon-glass{
    color:white;
}

.navbar-brand, .navbar/*-fixed-top*/ a {
    color: white;
}
.navbar-right {
    padding-right:2vw;
}

.nav li {
    font-size: 12px;
}

#Home img {
    height: 101px;
    padding-top: 0px;
    float: left;
    width: 147px;
    z-index: 4;
    margin-top: -25px

}

div#navvy.navbar.navbar-static-top {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 45px;
    background-color: #337ab7;
    background-color: grey;
    margin-bottom:0px;
}
.nav li {
    background-color: #337ab7;
    background-color: grey;
    z-index: 2;
}


/* --- */

.outline {
    background-color: rgbA(0, 0, 0, 0.8);
    color: gold;
    min-height:90vh;
}
.outlinetext {
    min-height:75vh;
}

div.pic {
    background-image: url('images/iwojima.jpg');
    background-size: 33.3vw;
    display: block;
    height: 50vh;
}
div.rightcolumn {
    background-color: black;
    color: black;
    min-height:90vh;
    /*width: 33.3%;*/
}

.selections {
    text-align:center;
    padding-bottom:10px;
    color:gold;
}
.selections a {
    color:gold;
}
.selections hr {
    padding-top:0px;
    padding-bottom:0px;
}

div.bottom {
    padding-top:15px;
    min-height:50vh;
}
section#Step1 {
    /*padding-top:45px;*/
    min-height: 100vh;
}
section#Step2, section#Step3, section#Step4, section#Step5, section#Step6, section#Step7, section#Step8, section#Step9, section#Step10 {
    padding-top:0px;
    min-height:100vh;
}

h1 {
    text-shadow: 3px 3px 3px tomato;
    font-weight:600;

}
.outline h1 {
    text-align:center;
        font-size: 28px;
}

.outline h2 {
    padding-left:5vw;
    text-wrap:avoid;
    font-size: 20px;
}

.outline h3 {
    padding-left:10vw;
    font-size: 16px;
}
.glyphicon-check, .glyphicon-unchecked {
    font-size: 0.7em;
    top: -3px;
    color: tomato;
}
h4.goal {
    color:dodgerblue;
    margin-top:20px;
    margin-bottom:5px;
}
div.row.bar {
    margin-top:0px;
    margin-bottom:10px;
    padding: 0px 0px 0px 0px;
    border: 3px solid tomato;
    background-color: rgbA(0,0,0,0.5);
}

.progress-bar-warning {
    background-color:tomato;

}
div.progress-bar-striped {

}
.fb-like {
    margin-top:20px;
   margin-left:35%;
}
div.redditAPI {
    max-height: 300px;
}
hr {
    border-top: 1px solid tomato;
}


section#viewProfile {
background-color: rgbA(0,0,0,1.0);
color:gold;
font-size:24px;
text-align:center;
padding: 30px 20px 20px 20px;
margin: auto;
min-height:90vh;
}
section#viewProfile p {
    padding: 5vh 15vw 10vh 15vw;
}
.profileData {
    font-weight: 900;
    color:tomato;
}
.ViewProfileSelections a {
    color:gold;
    font-size:14px;
}
.form-control {
    width: auto;
    display: inline;
}
.container {
    margin: 0px 0px 0px 0px;
    width:98vw;
    padding:0px 0px 0px 0px;
}
.btn.btn-default {
    background: gold;
    border: 2px solid tomato;
}
.btn.btn-default a {
    color:black;
}
.right a , .left a {
    font-size:18px;
    color:white;
}
.left {
    float: left;
    margin: 0px 5px 0px 10px;
}
.right {
    float:right;
    margin: 0px 10px 0px 5px;
}
/*div.glyphicon.left, div.glyphicon.right {
    margin-left: 10px;

}
div.glyphicon.right {
    margin-right:10px;
}*/

/*Jumbotron*/

div.jumbotron {
    margin-top:20px;
    background-color: rgb(65,83,59);
    background-position:center;
}

/* Carousel */

#myCarousel .list-group{
	position:absolute;
	top:5px;
	right:0px;  
}

#myCarousel .list-group-item {
	border-radius:2px;
	cursor:pointer;
}

#myCarousel .list-group .active {
	background-color:#337ab7;	
}

@media (min-width: 992px) { 
	#myCarousel {padding-right:0%;}
}
@media (max-width: 991px) { 
	#myCarousel .list-group {display:none;} 
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}