body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-collapse {
    border-bottom:10px solid red;
    border-width: 0px 0px 5px;
    background-color: white;
}

.navbar-brand, .navbar-fixed-top a {
    color: navy;
}

.nav li {
    font-size: 10px;
}

section #Step1, section #Step2 {
    min-height: 90vh;
}

section#Step1 h1 {
    text-align:center;
}

section#Step1 h2 {
    padding-left:5vw;
    text-wrap:avoid;
}

section#Step1 h3 {
    padding-left:10vw;
}
.glyphicon-check, .glyphicon-unchecked {
    font-size: 0.5em;
    top: -3px;
}