@{
    ViewBag.Title = "Home Page";
}

    <!--Jumbotron-->

    <div class="jumbotron">

        <div class="container">


            <div class="jumbotron">
                <h2 class="fontStyleTitles">Ready Recruit</h2>
                <p class="paragraphFontStyle">We are here to help you make one of the most important decisions of
         your life! Whether your thinking about joining, already in the process
        of joing, or even if you have no clue about what the Military can
        offer or if you qualify. We are here to assit with all of the above. </p>
                <p class="paragraphFontStyle">You will be given a roadmap based off your decision, a time frame based
            off your schedule, and resources to help with your career path.
            If you have an account please log in or please register below. </p>
               <button class="btn btn-primary">@Html.ActionLink("Register Now","Register","Account")</button>

            </div>










            <div id="myCarousel" class="carousel slide col-md-6" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    <div class="item active">

                        <img src="http://placehold.it/760x400/cccccc/ffffff">

                    </div><!-- End Item -->

                    <div class="item">
                        <img src="http://placehold.it/760x400/999999/cccccc">

                    </div><!-- End Item -->

                    <div class="item">

                        <img src="http://placehold.it/760x400/dddddd/333333">


                    </div><!-- End Item -->

                    <div class="item">

                        <img src="http://placehold.it/760x400/cccccc/ffffff">

                    </div><!-- End Item -->

                    <div class="item">

                        <img src="http://placehold.it/760x400/cccccc/ffffff">

                    </div><!-- End Item -->

                </div><!-- End Carousel Inner -->

                <ul class="list-group col-md-3 carousel-indicators">

                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>


                </ul>
            </div><!-- End Carousel -->

            <div class="col-md-4">
                <!--TRAILER SECTION-->
                <h1 class="container" id="trailer"><iframe width="560" height="315" src="https://www.youtube.com/embed/jD-PdA4-W9A" frameborder="0" allowfullscreen></iframe></h1>
            </div>

        </div><!-- End Container -->
    </div> <!-- End Jumbotron-->


       @*<div class="row bottom">
           <div class="col-md-3">
               <h2>Getting started</h2>
               <p>
                   ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                   enables a clean separation of concerns and gives you full control over markup
                   for enjoyable, agile development.
               </p>
               <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
           </div>

           <div class="col-md-6">
               /*TRAILER SECTION*/
               @*<h1 class="container" id="trailer"><iframe width="560" height="315" src="https://www.youtube.com/embed/jD-PdA4-W9A" frameborder="0" allowfullscreen></iframe></h1>
           </div>

           <div class="col-md-3">
               <h2>Web Hosting</h2>
               <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
               <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
           </div>
       </div>*@


</section>