@{
    ViewBag.Title = "Home Page";
}

<section id="homepage">

    <!--Jumbotron-->

    <div class="container">


        <div id="myCarousel" class="carousel slide col-md-12" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <img src="~/Content/images/vip_military_banner_small_526_480.jpg" />
                </div><!-- End Item -->

                <div class="item">
                    @*<img src="~/Content/images/jettakeoff.jpg" />*@
                    <img src="~/Content/images/flag1.jpg" />
                </div><!-- End Item -->

                <div class="item">
                    <img src="~/Content/images/us-army-379036_960_720_720.jpg" />
                    @*<img src="~/Content/images/navy.jpg" />*@
                </div><!-- End Item -->

                <div class="item">
                    <img src="~/Content/images/sailorssalute_720_720.jpg" />
                    @*<img src="~/Content/images/soldiersdessert.jpg" />*@
                </div><!-- End Item -->

                <div class="item">
                    <img src="~/Content/images/bainbridge-ddg_720_720.jpg" />
                    @*<img src="~/Content/images/wall.jpg" />*@
                </div><!-- End Item -->

            </div><!-- End Carousel Inner -->

            <ul class="list-group col-md-3 carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ul>
        </div><!-- End Carousel -->
        <div class="row container">

            <div class="col-md-8 intro">
                <h2 class="fontStyleTitles">Ready Recruit</h2>
                <p class="paragraphFontStyle">
                    Our goal is to guide you in making one of the most important decisions of
                    your life! Whether your thinking about joining the military or are already in the process
                    of joining, we are here to assit you.
                @*</p>
                <p class="paragraphFontStyle">*@
                    You will be given the resources necessary to determine the best career path for you.  
                    You can make your way through our checklist and monitor your progress as you go.
                    Use the register (if a new user) or login buttons below to get started.  Have fun!
                </p>
                <span class="moveright">
                    <button class="btn btn-primary btn-sm">@Html.ActionLink("Register Now", "Register", "Account")</button>
                    <button class="btn btn-primary btn-sm">@Html.ActionLink("Login", "Login", "Account")</button>
                </span>
            </div>

            <div class="col-md-4 Ryan">
                <!--TRAILER SECTION-->
                <h1 class="container" id="trailer"><iframe width="400" height="255" src="https://www.youtube.com/embed/jD-PdA4-W9A" frameborder="0" allowfullscreen></iframe></h1>
            </div>

        </div>


    </div><!-- End Container -->

</section>